html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}
body {
	font-family: 'Open Sans', Verdana, sans-serif;
	font-size: 100%;
	-webkit-font-smoothing: antialiased;
	background-color: #fcfcfc;
	background: -webkit-linear-gradient(to top, #0090b2 0%, #fcfcfc 100%);
	background: linear-gradient(to top, #0090b2 0%, #fcfcfc 100%);
}
/*-------- Clear -------*/
.cf:before,
.cf:after {
    content: " ";
    display: table;
}
.cf:after {
    clear: both;
}
/*-------- Loader -------*/
.preload {
	width: 100%;
	height: 100vh;
	background-color: #0090b2;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 100;
}
.loader {
	width: 50px;
	height: 50px;
	display: inline-block;
	vertical-align: middle;
	position: relative;
}
.loader-four:before {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 10px;
	height: 30px;
	background-color: #fff;
	-webkit-animation: grow 1s linear infinite;
	        animation: grow 1s linear infinite;
}
.loader-four:after {
	content: '';
	display: block;
	position: absolute;
	left: 15px;
	top: 0;
	width: 10px;
	height: 30px;
	background-color: #fff;
	-webkit-animation: grow 1s linear -0.33s infinite;
	        animation: grow 1s linear -0.33s infinite;
}
.loader-four span {
	content: '';
	display: block;
	position: absolute;
	left: 30px;
	top: 0;
	width: 10px;
	height: 30px;
	background-color: #fff;
	-webkit-animation: grow 1s linear -0.66s infinite;
	        animation: grow 1s linear -0.66s infinite;
}
@-webkit-keyframes grow {
	0% {transform: scaleY(0); transform: scaleY(0); opacity: 0;}
	50% {transform: scaleY(1); transform: scaleY(1); opacity: 1;}
	100% {transform: scaleY(0); transform: scaleY(0); opacity: 0;}
}
@keyframes grow {
	0% {transform: scaleY(0); transform: scaleY(0); opacity: 0;}
	50% {transform: scaleY(1); transform: scaleY(1); opacity: 1;}
	100% {transform: scaleY(0); transform: scaleY(0); opacity: 0;}
}

img {
	max-width: 100%;
	height: auto;
}
a {
	text-decoration: none;
}
header {
	width: 100%;
	height: 100vh;
	background: url("../img/bg.jpg") center center no-repeat fixed;
	-ms-background-size: cover;
	background-size: cover;
	padding: 4em 0;
	text-align: center;
}
.container {
	max-width: 73.125em; /* 1170/16 */
	margin: 0 auto;
	padding: 0 1.5em;
}
.container .logo {
	width: 6em;
	height: auto;
	float: left;
}
.container nav {
	float: right;
	text-align: right;
	margin-top: 2.2em;
}
.container nav a {
	margin-left: 1.3em;
	color: #111;
	font-size: 1.125em; /* 18/16 */
	font-weight: 400;
	text-transform: uppercase;
	transition-duration: 0.4s;
}
.container nav a:hover {
	color: #fefefe;
}
.container nav a.active {
	color: #fefefe;
}
.menu-dropdown {
	display: none;
}
.container h1 {
	width: 45%;
	margin: 7em auto 6em auto;
	font-size: 3em; /* 48px */
	font-weight: 400;
	line-height: 2em;
	color: #fefefe;
	text-transform: uppercase;
	letter-spacing: 0.06em;
	text-align: center;
	border: 0.10869em solid #fefefe;
	-webkit-animation: text 1.5s;
	        animation: text 1.5s;
}
@-webkit-keyframes text {
	0% {
		opacity: 0;
		width: 50%;
	}
	80% {
		opacity: 1;
	}
}
@keyframes text {
	0% {
		opacity: 0;
		width: 50%;
	}
	80% {
		opacity: 1;
	}
}

section {
	max-width: 58.75em; /* 940/16 */
	margin: 0 auto;
	padding: 3.125em 1.25em;
}
.about {
	background: url("../img/mavicair.png") right 38% no-repeat, url("../img/mavicair.png") left 68% no-repeat, url("../img/mavicair.png") right 95% no-repeat;
	background-size: 25%;
}
h3 {
	color: #615043;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.125em; /* 3/24 */
	font-size: 1.5em; /* 24/16 */
}
section p {
	color: #594B37;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	padding: 1.25em; /* 20/16 */
	font-size: 1em;
}
.parameters .parameter{
	padding: 0.4375em 0; /* 7px/16px */
}
section .countries {
	width: 90%;
	margin: 3em auto;
	color: #999;
	padding: 0 0.625em;
}

/* ----- 3 box CIRCLE ----- */
.wrappedbox {
	width: 88%;
	margin: 3em auto;
	position: relative;
	height: 13.5em;
}
.box {
	width: 12.5em; /* 200/16 */
	height: 12.5em; /* 200/16 */
	float: left;
	margin: 0 2em; /* 10/16 */
	border: 0.3125em solid #fefefe; /* 5/16 */
	border-radius: 6.5625em; /* 105/16 */
	overflow: hidden;
}
.box img {
	border-radius: 6.25em; /* 100/16 */
}
.box div {
	width: 11.875em; /* 190/16 */
	height: 6.5625em;  /* 105/16 */
	background: #111;
	text-align: center;
	border-radius: 6.25em; /* 100/16 */
	padding: 5.9375em 0; /* 95/16 */
	color: #fefefe;
	font-weight: 300;
	font-size: 1em;
}
.efect-1 {
	position: relative;
}
.efect-1 div {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 400ms;
}
.efect-1 div:hover {
	opacity: 0.6;
}
.efect-3 {
	position: relative;
}
.efect-3 div {
	position: absolute;
	top: 0;
	left: 0;
	margin-left: -12.5em; /* 200/16 */
	opacity: 0.7;
	transition: margin-left 400ms;
}
.efect-3:hover div {
	margin-left: 0;
}
.efect-4 {
	position: relative;
}
.efect-4 img {
	position: absolute;
	top: 0;
	left: 0;
}
.efect-4 div {
	opacity: .7;
	transform: scale(0);
	transition-duration: 400ms;
}
.efect-4:hover div {
	transform: scale(1);
	transition-duration: 400ms;
}

 /* -----Progress bar------ */
.progress {
	display: inline-block;
	width: 40%;
	margin: 0.9em 2em;
}
.progress-title {
	line-height: 2.7em;
	color: #e6e6e6;
}
.progress-title strong {
	color: #e6e6e6;
}
.progress-bar {
	position: relative;
	height: 0.46em;
	background-color: #e6e6e6;
	border: 0.0625em solid #D14826;
    border-radius: 0.3125em; /* 5/16 */
	-o-box-shadow: 0 0.125em 0.3125em rgba(0, 0, 0, 0.2) inset;
	box-shadow: 0 0.125em 0.3125em rgba(0, 0, 0, 0.2) inset; /* 2/16 5/16 */
}
.progress-bar span {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	background-color: #D14826;
}

/*-------------Projects--------------*/
.gallery {
	max-width: 100%;
	padding-bottom: 4em;
	position: relative;
	background-color: #040D21;
}
.gallery h3 {
	color: #eee;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.125em; /* 3/24 */
	font-size: 1.5em; /* 24/16 */
	margin-bottom: 2em;
}
.slider-due {
	display: none;
}
.wrapper {
	width: 50em;
	margin: 0 auto;
}
.carousel {
	position: relative;
	width: 50em; /* 800px/16 */
	height: 32em;  /* 520px/16 */
	overflow: hidden;
}
.images {
	position: absolute;
}
.images img {
	float: left;
	overflow: hidden;
}
.button {
	display: block;
	float: left;
	position: relative;
	top: -280px;
	width: 50px;
	height: 50px;
	cursor: pointer;
	border-radius: 1.875em; /* 30px/16 */
	background: rgba(0,0,0,0.3);
	color: #eee;
	text-align: center;
	line-height: 0.856em;
	font-size: 3em;
}
.button:hover { background: rgba(0,0,0,0.5) }
.next { left: 760px; }
.previous { left: -60px; }

.carousel-nav {
	margin: 0 auto;
	height: 10px;
	padding: 5px 0; /* 0.3125em */
}
.carousel-nav ul {
	margin: 0 auto;
}
.carousel-nav li {
	list-style: none;
	width: 10px; /* 10px/16  0.625em */
	height: 10px; /* 10px/16 0.625em */
	float: left;
	margin: 0 10px 0 0;
	border-radius: 5px;
	background: #eee;
}
.carousel-nav li.active {
	background: #0090b2;
}
.carousel-nav li:last-child { margin: 0; }
.shadow {
	width: 50em;
	height: 1em;
}

/*--------------------Series-----------------*/
.sr {
	position: relative;
	width: 100%;
	margin: 0 auto;
}
.sr h3 {
	color: #615043;
	margin-bottom: 2em;
}

/*-------------Aside----------------*/
.cont {
	background-color: #040D21;
	padding: 2.5em 1.25em 3.5em 1.25em;
}
.cont h3 {
	color: #eee;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.125em; /* 3/24 */
	font-size: 1.5em; /* 24/16 */
}

.social .circles {
	display: flex;
	flex-flow: row wrap;
	max-width: 56.25em; /* 900/16 */
	margin: 0 auto;
	align-content: center;
	align-items: center;
	justify-content: space-around;
	padding: 1.875em 0; /* 30/16 */
}
.circles .fa {
	font-size: 1.5em; /* 26/16 */
	color: #0090b2;
	vertical-align: middle;
	padding: 1.6em; /* 39/26 */
}
.circles .icon {
	background-color: #e4e4e4;
	margin: 0.5em;
	cursor: pointer;
	border-radius: 50%;
	text-align: center;
	transition: all 200ms ease-in-out;
}
.circles .icon:hover {
	background-color: #fff;
	-ms-box-shadow: 0px 0px 0px 3px white, 0px 0px 0px 5px #0090b2;
	box-shadow: 0px 0px 0px 3px white, 0px 0px 0px 5px #0090b2;
	transform: rotate(360deg);
}
.circles .icon.active {
	background-color: #fff;
	-ms-box-shadow: 0px 0px 0px 3px white, 0px 0px 0px 5px #0090b2;
	box-shadow: 0px 0px 0px 3px white, 0px 0px 0px 5px #0090b2;
	transform: rotate(0deg);
}
.social p {
	font-size: 1.2em;
	text-align: center;
	font-weight: 400;
	color: #fefefe;
}
.mail {
	color: #fefefe;
	text-align: center;
}
.mail .fa {
	font-size: 1em; /* 20/16 */
	margin-right: 1em; /* 20/16 */
}
.mail a {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.2em; /* 20/16 */
	font-weight: 400;
	color: #fefefe;
}
.mail a:hover,
.mail a:focus {
	color: #ccc;
}
footer {
	background: url("../img/bg.jpg") center center no-repeat fixed;
	padding: 3.5em 0;
}
.foot-content {
	max-width: 73em; /* 1170px/16 */
	margin: 0 auto;
	padding: 0 1.5em;
}
.foot-content .logo {
	width: 5em;
	height: auto;
	margin-top: 3em;
	float: right;
}
footer .content-wrap {
	margin-top: 2em;
	float: left;
}
footer nav a {
	color: #fefefe;
	margin-right: 1.25em; /* 20/16 */
	font-size: 1em;
	line-height: 1.625em; /* 26/16 */
	font-weight: 400;
	transition-duration: 0.3s;
}
footer nav a:hover {
	color: #D14826;
}
footer .copyright {
	font-size: 1em;
	line-height: 1.6em; /* 24/15 */
	color: #D14826;
	font-weight: 300;
}

/*------------------------------- Media Queries-------------------------------*/


@media ( max-width: 66em ) { /* 1050/16 */
	.container h1 {
		font-size: 2.75em; /* 44px */
		}
	.wrapper {
		display: none;
	}
	.slider-due {
		display: inline-block;
		width: 400px;
		height: 200px;
		position: relative;
		left: 50%;
		top: 0;
		margin-left: -200px;
		overflow: hidden;
		background: #292929;
		border: 3px solid #fff;
	}
	.slider-due:hover article {
		-webkit-animation-play-state: paused;
		        animation-play-state: paused;
	}
	article {
		position: absolute;
		left: 400px;
		background: #292929;
		width: 400px;
		height: 200px;
		text-align: center;
		box-sizing: border-box;
	}
	article span {
		position: absolute;
		top: 5%;
		left: 2%;
		color: #111;
	}
	article:nth-of-type(1) {
		-webkit-animation: slideIn 50s linear 0s infinite;
		        animation: slideIn 50s linear 0s infinite;
	}
	article:nth-of-type(2) {
		-webkit-animation: slideIn 50s linear 5s infinite;
		        animation: slideIn 50s linear 5s infinite;
	}
	article:nth-of-type(3) {
		-webkit-animation: slideIn 50s linear 10s infinite;
		        animation: slideIn 50s linear 10s infinite;
	}
	article:nth-of-type(4) {
		-webkit-animation: slideIn 50s linear 15s infinite;
		        animation: slideIn 50s linear 15s infinite;
	}
	article:nth-of-type(5) {
		-webkit-animation: slideIn 50s linear 20s infinite;
		        animation: slideIn 50s linear 20s infinite;
	}
	article:nth-of-type(6) {
		-webkit-animation: slideIn 50s linear 25s infinite;
		        animation: slideIn 50s linear 25s infinite;
	}
	article:nth-of-type(7) {
		-webkit-animation: slideIn 50s linear 30s infinite;
		        animation: slideIn 50s linear 30s infinite;
	}
	article:nth-of-type(8) {
		-webkit-animation: slideIn 50s linear 35s infinite;
		        animation: slideIn 50s linear 35s infinite;
	}
	article:nth-of-type(9) {
		-webkit-animation: slideIn 50s linear 40s infinite;
		        animation: slideIn 50s linear 40s infinite;
	}
	article:nth-of-type(10) {
		-webkit-animation: slideIn 50s linear 45s infinite;
		        animation: slideIn 50s linear 45s infinite;
	}
	@-webkit-keyframes slideIn {
		0% {left: 400px;}
		1% {left: 0;}
		10% {left: 0;}
		11% {left: -400px;}
		100%{left: -400px;}
	}
	@keyframes slideIn {
		0% {left: 400px;}
		1% {left: 0;}
		10% {left: 0;}
		11% {left: -400px;}
		100%{left: -400px;}
	}
	.wrappedbox {
	    width: 72%;
	}
	.box {
		margin: 0 0.5em;
	}
}
@media ( max-width: 62.5em) { /* 1000/16 */
	.container h1 {
		font-size: 2.5em;  /* 40px */
		letter-spacing: 2px;
	}
	.container .logo img {
		width: 90%;
	}
	section {
		padding: 2.5em 1em 2.5em 1em;
	}
	section .fa {
		font-size: 1.25em; /* 20/16 */
	}
	.wrappedbox {
		transform: scale(0.8);
	}
}
@media ( max-width: 58.75em)  {
	.wrappedbox {
		height: auto;
		transform: scale(1);
	}
	.box {
		float: none;
		display: block;
		margin: 2em auto;
	}
}
@media ( max-width: 54.375em) {  /* 870/16 */

	.menu {
		display: none;
	}
	.menu-dropdown {
		display: inline-block;
		font-family: 'Open Sans', sans-serif;
		float: right;
		margin-top: 1em;
	}
	.container h1 {
		font-size: 2.25em;  /* 36px */
		letter-spacing: 1px;
	}
	.container .logo img {
		width: 80%;
		margin-left: -1em;
	}
	h3,
	.gallery h3,
	.sr h3,
	.cont h3 {
		font-size: 1.375em; /* 22/16 */
		letter-spacing: 0.0909em; /* 2/22 */
	}
	.sr h3 {
		margin-bottom: 1em;
	}
	section p {
		font-size: 0.9375em; /* 15/16 */
		line-height: 1.6em; /* 24/15 */
		padding: 1.25em; /* 20/16 */
		text-indent: 2em;
	}
	section .countries {
		width: 100%;
		margin: 2em auto;
	}
	.progress {
		display: inline-block;
		width: 40%;
		margin: 0.9em 2em;
	}
	.progress-title {
		line-height: 2.5em;
	}
	.progress-title strong {
		font-weight: 400;
	}
	.social p {
		font-weight: 400;
	}
	footer {
		padding: 2em 0;
	}
	footer .logo img {
		transform: scale(.8);
	}
	footer .copyright {
		font-size: 0.875em; /* 14/16 */
		line-height: 1.4285714285714286em; /* 20/14 */
	}
}
@media ( max-width: 50em) { /* 800/16 */
	.container h1 {
		font-size: 2em;  /* 32px */
		letter-spacing: 0px;
	}
	.menu-dropdown {
		transform: scale(.9);
	}
	section {
		padding: 2em 1em;
	}
	section .countries {
		margin: 1.5em auto;
	}
	.progress {
		display: inline-block;
		width: 42%;
		margin: 0.7em 1em;
	}
	.progress-title {
		line-height: 2em;
	}
	.social p {
		font-size: 1.125em; /* 18/16 */
	}
}
@media( max-width: 42.5em) {  /* 680/16 */
	.container .logo img {
		width: 70%;
		margin-left: -2em;
	}
	.container h1 {
		font-size: 1.625em;  /* 26px */
	}
	.menu-dropdown {
		transform: scale(.8);
		margin-top: 0em;
	}
	section {
		padding: 1.8em 1em;
	}
	.circles .fa {
		font-size: 1.4em;
		padding:  1.4em;
	}
	.foot-content .logo {
		transform: scale(.8);
	}
}
@media ( max-width: 36.875em) { /* 590/16 */
	.menu-dropdown {
		margin-right: -1em;
	}
	.container .logo img {
		width: 60%;
		margin-left: -2em;
	}
	.container h1 {
		font-size: 1.375em;  /* 22px */
	}
	section p {
		font-size: 0.9375em; /* 15/16 */
		line-height: 1.5em;
	}
	.progress-title {
		font-size: 0.9375em; /* 15/16 */
		line-height: 1.7333334em; /* 26/15 */
	}
	.progress-bar {
		height: 0.3125em; /* 5/16 */
	}
	h3,
	.gallery h3,
	.sr h3,
	.cont h3 {
		font-size: 1.125em; /* 18/16 */
		letter-spacing: 0.05555em; /* 1/18 */
	}
	.social p {
		font-size: 1em;
	}
}
@media ( max-width: 32.5em) { /* 520/16 */
	.menu-dropdown {
		transform: scale(.7);
		margin-top: 0em;
	}
	section {
		padding: 1.5em 1em;
	}
	section .fa {
		font-size: 1em;
		padding: 1em;
	}
	section .countries {
		margin: 1em auto;
	}
	.progress {
		display: block;
		width: 60%;
		margin: .8em auto;
	}
	.sr h3 {
		margin-bottom: 0.625em; /* 10/16 */
	}
	.circles .fa {
		font-size: 1.2em;
		padding: 1.2em;
	}
	.social p {
		font-size: 1em;
	}
	.mail a {
		font-size: 1em;
	}
	footer {
		padding: 1em 0;
	}
	.foot-content {
		padding: 0 1em;
	}
	.foot-content .logo {
		transform: scale(.7);
	}
	footer .content-wrap {
		margin-top: 1em;
	}
	footer nav a {
		margin-right: 1em; /* 20/16 */
		font-size: 0.875em; /* 14/16 */
		line-height: 1.42857142em; /* 20/14 */
		font-weight: 300;
	}
	footer .copyright {
		font-size: 0.75em; /* 12/16 */
		line-height: 2em; /* 24/12 */
	}
}
@media ( max-width: 29.375em) { /* 470/16 */
	.container h1 {
		font-size: 1.25em;  /* 20px */
	}
	.about {
		background: url("../img/mavicair.png") right 36% no-repeat, url("../img/mavicair.png") right 65% no-repeat, url("../img/mavicair.png") right 95% no-repeat;
		background-size: 20%;
	}
	section p {
		text-align: justify;
		padding: 0.75em;
		font-size: 0.875em; /* 14/16 */
		line-height: 1.42857em; /* 20/14 */
		text-indent: 1em;
	}
	section .fa {
		font-size: 0.875em; /* 14/16 */
		padding: 1em;
	}
	.progress-title {
		font-size: 0.875em; /* 14/16 */
		line-height: 1.85714em; /* 26/14 */
	}
	footer .content-wrap {
		float: none;
	}
}
@media ( max-width: 25.625em){ /* 410/16 */
	.container .logo img {
		margin-left: -2.3em;
	}
	.menu-dropdown {
		transform: scale(.6);
		margin-top: 0em;
		margin-right: -2em;
	}
	.gallery {
		display: none;
	}
	section,
	aside {
		padding: 1em 0.5em;
	}
	h3,
	.cont h3 {
		font-size: 1em;
	}
	footer .content-wrap {
		margin-top: 0.5em;
	}
}

@media ( max-width: 22.5em) {   /* 360/16 */
	.container .logo img {
		width: 50%;
		margin-left: -2.5em;
		text-align: left;
	}

	.progress {
		width: 70%;
	}
	.progress-title {
		font-size: 0.8125em; /* 13/16 */
		line-height: 1.5384615384615385em; /* 20/13 */
	}
	footer {
		padding: 0.875em 0; /* 14/16 */
	}
}
@media ( max-width: 18.75em) {  /* 300/16 */
	.cont {
		padding: 1em 0.5em;
	}
	.sr h3 {
		margin-bottom: 0;
	}
	.social p {
		font-size: 0.9375em; /* 15/16 */
	}
	.mail {
		padding-top: 0.6em;
	}
	.mail a {
		font-size: 0.875em; /* 14/16 */
	}
}
@media ( max-width: 16.25em) {  /* 260/16 */

	.menu-dropdown {
		transform: scale(.5);
		margin-top: 0em;
		margin-right: -2.6em;
	}
	section p {
		font-size: 0.8125em; /* 13/16 */
		line-height: 1.384615em; /* 18/13 */
		text-indent: 0;
		padding: 0.384615em 0;
	}
	section .fa {
		font-size: 0.875em; /* 14/16 */
		padding: 0.8em;
	}
	.wrappedbox {
    	width: 80%;
	}
}